body {
    overflow: hidden;
    background-color: #E9E9E9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slide-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    align-content: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.slide-container>* {
    padding-left: 20px;
    padding-top: 10px;
}

div.slide {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 95vh;
    width: 97vw;
    position: absolute;
    break-after: page;
    margin: 1vh;
    padding: 0;
}

div.slide-visible {
    display: block;
    z-index: 2;
    opacity: 1;
}

div.slide-hidden {
    display: none;
    z-index: 0;
    opacity: 0;
}

div.slide-visible>*> ::ng-deep blockquote,
div.slide-visible>*>::ng-deep ol>::ng-deep li> ::ng-deep blockquote {
    padding: 1px 0px 1px 15px;
    font-size: 15px;
    border-left: 5px solid #cccc;
}

div.slide-visible>*> ::ng-deep p a {
    text-decoration: none;
    font-weight: bold;
}

div.slide-visible> ::ng-deep p a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.slideActions {
    right: 20px;
    top: 10px;
    position: absolute;
}

.pageNumber {
    right: 30px;
    bottom: 30px;
    position: absolute;
}

.btnArrow {
    border-radius: 2px;
    margin-right: 5px;
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    color: #1a1d1d;
    cursor: pointer;
}

.btnArrow:hover {
    font-weight: bold;
    background-color: darkgray;
    color: black;
}

.btnArrow:disabled {
    cursor: initial;
    color: #cccccc;
    background-color: #eeeeee;
}